
@import "vars";

.container {
  display: flex;
  color: white;
  font-size: 24px;
  height: 150px;
  margin-top: 20px;

}

.container__item {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  background-color: $light;
  height: 150px;
  align-items: center;
  justify-content: center;
  transition: 1s;
  cursor: pointer;
}

.container__item_selected {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  background-color: $dark;
  align-items: center;
  justify-content: center;
  height: 180px;
  transition: 1s;
  cursor: pointer;
}

.carousel {
  width: 200px;
  height: 150px;
}

.carousel__button {
  background-color: black;
}
